<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}AdHere!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{{ nb_jour_campagne }}{% endblock %}
        {% block div %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
